@page
@model CarBackEnd.Templates.CancelJourneyModel
@{
}

<div class="container">
    <div align = "center">
        <h1 style='color:red'>Warning!!</h1>
        <h2 style='color:DodgerBlue'>{USER.NAME}</h2>
        <h2>We have to inform you that driver: {DRIVER.NAME} cancelled the journey at {TIME}</h2>
    </div>
</div>

